# Usage: use_nix [-s <nix-expression>] [-w <path>] [-w <path>] ...
#   -s nix-expression: The nix expression to use for building the shell environment.
use_nix -s shell.nix

export PATH=$(pwd)/bin:$PATH
